
<!--render form-->
<form [formGroup]="quickEnrollmentForm">
    <!--form components-->
    <div class="grid">
        <div class="col-12">
            <div class="card shadow-1">

                <div class="form-section">
                    <div class="form-section-header">
                        <span class="form-section-heading">
                            Basic Details
                        </span>
                    </div>

                    <div class="form-section-body">
                        <div class="p-fluid p-formgrid grid">

                            <div class="field col-12 md:col-2">
                                <label htmlFor="title">Title</label>
                                <p-dropdown appendTo="body"
                                            formControlName="humanDemographicTitleId"
                                            id="title"
                                            placeholder="Select Title"
                                            [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && humanDemographicTitleId?.invalid} || (humanDemographicTitleId?.invalid && (surname?.dirty || humanDemographicTitleId?.touched))"
                                            [options]="titleSelectItems"
                                            [style]="{width: '100%'}">
                                </p-dropdown>
                            </div>

                            <div class="field col-12 md:col-5">
                                <label htmlFor="firstname">Firstname</label>
                                <input type="text"
                                       formControlName="firstname"
                                       id="firstname"
                                       placeholder="Firstname"
                                       pInputText
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && firstname?.invalid} || (firstname?.invalid && (firstname?.dirty || firstname?.touched))" />
                            </div>

                            <div class="field col-12 md:col-5">
                                <label htmlFor="surname">Surname</label>
                                <input type="text"
                                       formControlName="surname"
                                       id="surname"
                                       placeholder="Surname"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && surname?.invalid} || (surname?.invalid && (surname?.dirty || surname?.touched))" />
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="genderId">Gender</label>
                                <p-dropdown appendTo="body"
                                            formControlName="genderId"
                                            id="genderId"
                                            placeholder="Select Gender"
                                            [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && genderId?.invalid} || (genderId?.invalid && (genderId?.dirty || genderId?.touched))"
                                            [options]="genderSelectItems"
                                            [style]="{width: '100%'}">
                                </p-dropdown>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label htmlFor="maritalStatusId">Marital Staus</label>
                                <p-dropdown appendTo="body"
                                            formControlName="maritalStatusId"
                                            id="maritalStatusId"
                                            placeholder="Select Marital Status"
                                            [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && maritalStatusId?.invalid} || (maritalStatusId?.invalid && (maritalStatusId?.dirty || maritalStatusId?.touched))"
                                            [options]="maritalStatusSelectItems"
                                            [style]="{width: '100%'}">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">

                            <div class="field col-12 md:col-4">
                                <label htmlFor="dateOfBirth">D.O.B</label>
                                <p-calendar appendTo="body"
                                            dateFormat="dd/mm/yy"
                                            formControlName="dateOfBirth"
                                            id="dateOfBirth"
                                            placeholder="D.O.B"
                                            [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && dateOfBirth?.invalid} || (dateOfBirth?.invalid && (dateOfBirth?.dirty || dateOfBirth?.touched))"
                                            [style]="{ width: '100%' }">
                                </p-calendar>
                            </div>

                            <div class="field col-12 md:col-4">
                                <label htmlFor="placeOfBirth">Place of Birth</label>
                                <input type="text"
                                       formControlName="placeOfBirth"
                                       id="placeOfBirth"
                                       placeholder="Place of Birth"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && placeOfBirth?.invalid} || (placeOfBirth?.invalid && (placeOfBirth?.dirty || placeOfBirth?.touched))" />
                            </div>

                            <div class="field col-12 md:col-4">
                                <label htmlFor="countryOfResidence">Country of Residence</label>
                                <p-dropdown appendTo="body"
                                            formControlName="countryOfResidanceId"
                                            id="countryOfResidanceId"
                                            placeholder="Select Country"
                                            [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && countryOfResidanceId?.invalid} || (countryOfResidanceId?.invalid && (countryOfResidanceId?.dirty || countryOfResidanceId?.touched))"
                                            [options]="countrySelectItems"
                                            [style]="{width: '100%'}">
                                </p-dropdown>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-section">
                    <div class="form-section-header">
                        <span class="form-section-heading">
                            Study Details
                        </span>
                    </div>

                    <div class="form-section-body">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="programmeId">Programme</label>
                                <p-dropdown appendTo="body"
                                            formControlName="programmeId"
                                            id="programmeId"
                                            placeholder="Select Programme"
                                            [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && programmeId?.invalid} || (programmeId?.invalid && (programmeId?.dirty || programmeId?.touched))"
                                            [options]="programmeSelectItems"
                                            [style]="{width: '100%'}">
                                </p-dropdown>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label htmlFor="attendanceTypeId">Attendance Mode</label>
                                <p-dropdown appendTo="body"
                                            formControlName="attendanceTypeId"
                                            id="attendanceTypeId"
                                            placeholder="Select Attendance Mode"
                                            [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && attendanceTypeId?.invalid} || (attendanceTypeId?.invalid && (attendanceTypeId?.dirty || attendanceTypeId?.touched))"
                                            [options]="attendanceTypeSelectItems"
                                            [style]="{width: '100%'}">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="campusId">Campus</label>
                                <p-dropdown appendTo="body"
                                            formControlName="campusId"
                                            id="campusId"
                                            placeholder="Select Compass"
                                            [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && campusId?.invalid} || (campusId?.invalid && (campusId?.dirty || campusId?.touched))"
                                            [options]="compassSelectItems"
                                            [style]="{width: '100%'}">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="col-6 md:col-4">
                                <div class="field-checkbox">
                                    <p-checkbox formControlName="honours"
                                                id="honours"
                                                [binary]="true">

                                    </p-checkbox>
                                    <label for="honours">Honours</label>
                                </div>
                            </div>
                            <div class="col-6 md:col-4">
                                <div class="field-checkbox">
                                    <p-checkbox formControlName="withEducation"
                                                id="withEducation"
                                                [binary]="true">
                                    </p-checkbox>
                                    <label for="withEducation">With Education</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-section">
                    <div class="form-section-header">
                        <span class="form-section-heading">
                            Identification Details
                        </span>
                    </div>

                    <div class="form-section-body">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="nationality">Nationality</label>
                                <input type="text"
                                       formControlName="nationality"
                                       id="nationality"
                                       placeholder="Nationality"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && nationality?.invalid} || (nationality?.invalid && (nationality?.dirty || nationality?.touched))" />
                            </div>

                            <div class="field col-12 md:col-6">
                                <label htmlFor="religion">Religion</label>
                                <input type="text"
                                       formControlName="religion"
                                       id="religion"
                                       placeholder="Religion"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && religion?.invalid} || (religion?.invalid && (religion?.dirty || religion?.touched))" />
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="nationalID">National ID</label>
                                <input type="text"
                                       formControlName="nationalID"
                                       id="nationalID"
                                       placeholder="National ID"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && nationalID?.invalid} || (nationalID?.invalid && (nationalID?.dirty || nationalID?.touched))" />
                            </div>

                            <div class="field col-12 md:col-6">
                                <label htmlFor="passportNumber">Passport Number</label>
                                <input type="text"
                                       formControlName="passportNumber"
                                       id="passportNumber"
                                       placeholder="Passport Number"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && passportNumber?.invalid} || (passportNumber?.invalid && (passportNumber?.dirty || passportNumber?.touched))" />
                            </div>
                        </div>

                    </div>

                </div>

                <div class="form-section">
                    <div class="form-section-header">
                        <span class="form-section-heading">
                            Contact Details
                        </span>
                    </div>

                    <div class="form-section-body">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="email">Email</label>
                                <input type="text"
                                       formControlName="email"
                                       id="email"
                                       placeholder="Email"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && dateOfBirth?.invalid} || (dateOfBirth?.invalid && (dateOfBirth?.dirty || dateOfBirth?.touched))" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="email">Phone Number</label>
                                <input type="text"
                                       formControlName="phoneNumber"
                                       id="phoneNumber"
                                       placeholder="Phone Number"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && dateOfBirth?.invalid} || (dateOfBirth?.invalid && (dateOfBirth?.dirty || dateOfBirth?.touched))" />
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:12">
                                <label htmlFor="address">Contact Address</label>
                                <input type="text"
                                       formControlName="address"
                                       id="address"
                                       placeholder="Address"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && address?.invalid} || (address?.invalid && (address?.dirty || address?.touched))" />
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-section">
                    <div class="form-section-header">
                        <span class="form-section-heading">
                            Next Of Kin Details
                        </span>
                    </div>

                    <div class="form-section-body">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="nextOfKinName">Next Of Kin Name</label>
                                <input type="text"
                                       formControlName="nextOfKinName"
                                       id="nextOfKinName"
                                       placeholder="Fullname"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && nextOfKinName?.invalid} || (nextOfKinName?.invalid && (nextOfKinName?.dirty || nextOfKinName?.touched))" />
                            </div>

                            <div class="field col-12 md:col-6">
                                <label htmlFor="nextOfKinAddress">Next Of Kin Address</label>
                                <input type="text"
                                       formControlName="nextOfKinAddress"
                                       id="address"
                                       placeholder="Address"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && nextOfKinAddress?.invalid} || (nextOfKinAddress?.invalid && (nextOfKinAddress?.dirty || nextOfKinAddress?.touched))" />
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="nextOfKinPhoneNumber">Next of Kin Phone</label>
                                <input type="text"
                                       formControlName="nextOfKinPhoneNumber"
                                       id="nextOfKinPhoneNumber"
                                       placeholder="PhoneNumber"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && nextOfKinPhoneNumber?.invalid} || (nextOfKinPhoneNumber?.invalid && (nextOfKinPhoneNumber?.dirty || nextOfKinPhoneNumber?.touched))" />
                            </div>

                            <div class="field col-12 md:col-6">
                                <label htmlFor="nextOfKinEmail">Next of Kin Email</label>
                                <input type="email"
                                       formControlName="nextOfKinEmail"
                                       id="nextOfKinEmail"
                                       placeholder="Email"
                                       pInputText
                                       fullWidth
                                       [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && nextOfKinEmail?.invalid} || (nextOfKinEmail?.invalid && (nextOfKinEmail?.dirty || nextOfKinEmail?.touched))" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <div class="form-section-header">
                        <span class="form-section-heading">
                            Extra Details
                        </span>
                    </div>

                    <div class="form-section-body">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="staffDependent">Staff Dependent</label>
                                <p-dropdown appendTo="body"
                                            formControlName="staffDependency"
                                            id="staffDependent"
                                            placeholder="Select Staff Dependency"
                                            [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && staffDependency?.invalid} || (staffDependency?.invalid && (staffDependency?.dirty || staffDependency?.touched))"
                                            [options]="staffDependantSelectItems"
                                            [style]="{width: '100%'}">
                                </p-dropdown>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label htmlFor="staffMembership">Staff Member</label>
                                <p-dropdown appendTo="body"
                                            formControlName="staffMembership"
                                            id="staffMembership"
                                            placeholder="Select Staff Membership"
                                            [ngClass]="{'ng-invalid ng-dirty': isShowingValidationErrors == true && staffMembership?.invalid} || (staffMembership?.invalid && (staffMembership?.dirty || staffMembership?.touched))"
                                            [options]="staffMemberSelectItems"
                                            [style]="{width: '100%'}">
                                </p-dropdown>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
