/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Quill editor styles (required for PrimeNG Editor) */
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";


.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-section-body {
    padding-top: 10px;
}

.card-section-header {
    border-bottom: 1px solid #666;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
}

.card-title {
    margin-bottom: .75rem;
}

.form-section-header {
    border-bottom: 1px solid #666;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.form-section-body {
    padding-top: 10px;
}

.image-container {
    height: 150px;
    width: 150px;
    z-index: 1;
    border-radius: 50%;
}

.image-container img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
}

.p-button.p-button-xs {
    font-size: 0.575rem;
    padding: 0.35625rem 0.79375rem;
}

.p-dialog-content-no-padding {
    padding: 0px !important;
}

.p-dialog-content {
    padding-top: 15px !important;
}

.p-dialog-header {
    border-bottom: 1px solid #666 !important;
}

.p-multiselect-token {
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
}

::ng-deep .p-menubar {
    background-color: var(--surface-card);
    border: 1px solid var(--surface-border);
    box-shadow: var(--card-shadow);
}
