
<ng-container *ngIf="isInitializing == true; else isInitializedTemplate">
    <app-page-loading></app-page-loading>
</ng-container>

<ng-template #isInitializedTemplate>

    <!--entity-menu-->
    <app-entity-menu>
        <ng-template #brand>
            Vehicle Models
        </ng-template>

        <ng-template #items>
            <p-button label="Add Vehicle Model"
                      icon="pi pi-plus"
                      pTooltip="Add new record"
                      tooltipPosition="bottom"
                      (onClick)="showAddVehicleModelModal()" />
        </ng-template>
    </app-entity-menu>

    <div class="pt-3"></div>

    <!--content-->
    <div class="card">

        <!--filter-bar-->
        <div class="flex justify-content-between flex-wrap pb-4">
            <div class="flex align-items-center justify-content-center formgroup-inline gap-2">
                <input pInputText
                       id="search"
                       type="text"
                       placeholder="Search"
                       class="p-inputtext p-component p-element"
                       [(ngModel)]="requestParameter.searchString">
                <p-dropdown [options]="sortFilterOptions"
                            [(ngModel)]="requestParameter.sortFilter"
                            placeholder="Select sort filter" />
                <p-dropdown [options]="sortOrderOptions"
                            [(ngModel)]="requestParameter.sortOrder"
                            placeholder="Select sort order" />
            </div>
            <div class="flex align-items-center justify-content-center gap-2">
                <p-button label="Clear"
                          icon="pi pi-times"
                          pTooltip="Clear filters"
                          tooltipPosition="bottom"
                          [outlined]="true"
                          (onClick)="onClickRefresh()" />
                <p-button label="Filter"
                          pTooltip="Filter data"
                          tooltipPosition="bottom"
                          icon="pi pi-filter"
                          [outlined]="true"
                          (onClick)="onClickSearch()" />
            </div>
        </div>

        <app-divider></app-divider>

        <div class="pt-5"></div>

        <!--table-data-->
        <div class="grid">
            <div class="col">
                <p-table styleClass="p-datatable-sm p-datatable-striped"
                         [value]="vehicleModelData.data"
                         [paginator]="true"
                         [rows]="requestParameter.pageSize"
                         [rowsPerPageOptions]="[10, 20, 50, 100]"
                         [totalRecords]="vehicleModelData.totalRecords"
                         (onPage)="onPageChange($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 2rem">#</th>
                            <th>Name</th>
                            <th>Make</th>
                            <th>Type</th>
                            <th style="width:20%">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-vehicleModel let-rowIndex="rowIndex">
                        <tr>
                            <td>{{ rowIndex + 1 }}</td>
                            <td>{{ vehicleModel.name }}</td>
                            <td>{{ vehicleModel.vehicleMake }}</td>
                            <td>{{ vehicleModel.vehicleType }}</td>
                            <td>
                                <div class="flex flex-wrap column-gap-1 row-gap-1">
                                    <p-button pTooltip="Edit"
                                              tooltipPosition="bottom"
                                              icon="pi pi-pencil"
                                              size="small"
                                              (click)="onClickView(vehicleModel.vehicleModelId)" />
                                    <p-button pTooltip="Delete"
                                              tooltipPosition="bottom"
                                              icon="pi pi-trash"
                                              severity="danger"
                                              size="small"
                                              (click)="onClickDelete(vehicleModel.vehicleModelId)" />
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="3">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</ng-template>

<!--add vehicle modal-->
<p-dialog header="New Vehicle Model"
          [modal]="true"
          [(visible)]="isAddVehicleModelModalVisible"
          [style]="{ width: '50rem' }">

    <form [formGroup]="addVehicleModelForm">
        <div class="p-fluid">
            <div class="field">
                <label class="font-medium" htmlFor="name">Name</label>
                <input pInputText
                        id="name"
                        formControlName="name"
                        type="text"
                        [ngClass]="{'ng-dirty ng-invalid': addVehicleModelForm.get('name')?.invalid && addVehicleModelForm.get('name')?.touched}" />
                <small class="text-red-700" *ngIf="addVehicleModelForm.get('name')?.invalid && addVehicleModelForm.get('name')?.touched">
                    {{ getErrorMessage('name') }}
                </small>
            </div>
        </div>
        <div class="p-fluid">
            <div class="field">
                <label class="font-medium" htmlFor="vehicleMakeId">Vehicle Make</label>
                <p-dropdown 
                    formControlName="vehicleMakeId"
                    placeholder="Select Vehicle Make"
                    [appendTo]="'body'"
                    [filter]="true"
                    [options]="vehicleMakeOptions" 
                    [showClear]="true"
                    [ngClass]="{'ng-dirty ng-invalid': addVehicleModelForm.get('vehicleMakeId')?.invalid && addVehicleModelForm.get('vehicleMakeId')?.touched}" />
                <small class="text-red-700" *ngIf="addVehicleModelForm.get('vehicleMakeId')?.invalid && addVehicleModelForm.get('vehicleMakeId')?.touched">
                    {{ getErrorMessage('name') }}
                </small>
            </div>
        </div>
        <div class="p-fluid">
            <div class="field">
                <label class="font-medium" htmlFor="vehicleMakeId">Vehicle Type</label>
                <p-dropdown 
                    formControlName="vehicleTypeId"
                    placeholder="Select Vehicle Type"
                    [appendTo]="'body'"
                    [filter]="true"
                    [options]="vehicleTypeOptions" 
                    [showClear]="true"
                    [ngClass]="{'ng-dirty ng-invalid': addVehicleModelForm.get('vehicleTypeId')?.invalid && addVehicleModelForm.get('vehicleTypeId')?.touched}" />
                <small class="text-red-700" *ngIf="addVehicleModelForm.get('vehicleTypeId')?.invalid && addVehicleModelForm.get('vehicleTypeId')?.touched">
                    {{ getErrorMessage('name') }}
                </small>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (onClick)="isAddVehicleModelModalVisible = false" />
            <p-button label="Save" (onClick)="onSubmitAddVehicleModelForm()" />
        </div>
    </ng-template>

</p-dialog>

<!--page processing-->
<app-page-processing *ngIf="isBusy"></app-page-processing>

<!--toast-->
<p-toast></p-toast>







