
<ng-container *ngIf="isInitializing == true; else isInitializedTemplate">
    <app-page-loading></app-page-loading>
</ng-container>

<ng-template #isInitializedTemplate>

    <!--entity-menu-->
    <app-entity-menu>
        <ng-template #brand>
            Incomes
        </ng-template>

        <ng-template #items>
            <div class="flex justify-content-end flex-wrap gap-2">
                <p-button label="Add Income"
                          icon="pi pi-plus"
                          pTooltip="Add new record"
                          tooltipPosition="bottom"
                          (onClick)="showAddIncomeModal()" />
            </div>
        </ng-template>
    </app-entity-menu>

    <div class="pt-3"></div>

    <!--content-->
    <div class="card">

        <!--filter-bar-->
        <div class="flex justify-content-between flex-wrap pb-4">
            <div class="flex align-items-center justify-content-center formgroup-inline gap-3">
                <p-calendar id="date"
                        dateFormat="dd-M-yy"
                        selectionMode = "range"
                        [(ngModel)]="requestParameter.dates"
                        [appendTo]="'body'" />
                <p-dropdown id="vehicleId"
                        placeholder="Select Vehicle"
                        [appendTo]="'body'"
                        [filter]="true" 
                        [(ngModel)]="requestParameter.vehicleId"
                        [options]="vehicleOptions"
                        [showClear]="true"
                        (onClear)="onClearVehicle()" />
                <input pInputText
                       id="search"
                       type="text"
                       placeholder="Search"
                       class="p-inputtext p-component p-element"
                       [(ngModel)]="requestParameter.searchString">
                <p-dropdown [options]="sortFilterOptions"
                            [(ngModel)]="requestParameter.sortFilter"
                            placeholder="Select sort filter" />
                <p-dropdown [options]="sortOrderOptions"
                            [(ngModel)]="requestParameter.sortOrder"
                            placeholder="Select sort order" />
            </div>
            <div class="flex align-items-center justify-content-center gap-2">
                <p-button label="Clear"
                          icon="pi pi-times"
                          pTooltip="Clear filters"
                          tooltipPosition="bottom"
                          [outlined]="true"
                          (onClick)="onClickRefresh()" />
                <p-button label="Filter"
                          pTooltip="Filter data"
                          tooltipPosition="bottom"
                          icon="pi pi-filter"
                          [outlined]="true"
                          (onClick)="onClickSearch()" />
            </div>
        </div>

        <app-divider></app-divider>

        <div class="pt-5"></div>

        <!--table-data-->
        <div class="grid">
            <div class="col">
                <p-table styleClass="p-datatable-sm p-datatable-striped"
                         [value]="incomeData.data"
                         [paginator]="true"
                         [rows]="requestParameter.pageSize"
                         [rowsPerPageOptions]="[10, 20, 50, 100]"
                         [totalRecords]="incomeData.totalRecords"
                         (onPage)="onPageChange($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 2rem">#</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Vehicle</th>
                            <th>Type</th>
                            <th style="width:20%">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-income let-rowIndex="rowIndex">
                        <tr>
                            <td>{{ rowIndex + 1 }}</td>
                            <td>{{ income.date | date: 'dd-MMM-Y'}}</td>
                            <td>{{ income.amount | currency }}</td>
                            <td>{{ income.registrationNumber }}</td>
                            <td>{{ income.incomeType }}</td>
                            <td>
                                <div class="flex flex-wrap column-gap-1 row-gap-1">
                                    <p-button pTooltip="Edit"
                                              tooltipPosition="bottom"
                                              icon="pi pi-pencil"
                                              size="small"
                                              (click)="onClickView(income.id)" />
                                    <p-button pTooltip="Delete"
                                              tooltipPosition="bottom"
                                              icon="pi pi-trash"
                                              severity="danger"
                                              size="small"
                                              (click)="onClickDelete(income.id)" />
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="6">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</ng-template>

<!--add vehicle modal-->
<p-dialog header="New Income"
          [breakpoints]="{ '575px': '100vw' }"
          [modal]="true"
          [(visible)]="isAddIncomeModalVisible"
          [style]="{ width: '50rem' }">

    <form [formGroup]="addIncomeForm">
        <div class="p-fluid">
            <div class="field">
                <label class="font-medium" htmlFor="name">Amount</label>
                <p-inputNumber id="amount"
                        formControlName="amount"
                        mode="currency" 
                        currency="USD" 
                        locale="en-US"
                        placeholder="0.00"
                        [ngClass]="{'ng-dirty ng-invalid': addIncomeForm.get('amount')?.invalid && addIncomeForm.get('amount')?.touched}" />
                <small class="text-red-700" *ngIf="addIncomeForm.get('amount')?.invalid && addIncomeForm.get('amount')?.touched">
                    {{ getErrorMessage('amount') }}
                </small>
            </div>
        </div>
        <div class="p-fluid">
            <div class="field">
                <label class="font-medium" htmlFor="incomeTypeId">Type</label>
                <p-dropdown id="incomeTypeId"
                        formControlName="incomeTypeId"
                        placeholder="Select Income Type"
                        [appendTo]="'body'"
                        [filter]="true" 
                        [options]="icomeTypeOptions"
                        [showClear]="true" 
                        [ngClass]="{'ng-dirty ng-invalid': addIncomeForm.get('incomeTypeId')?.invalid && addIncomeForm.get('incomeTypeId')?.touched}" />
                <small class="text-red-700" *ngIf="addIncomeForm.get('incomeTypeId')?.invalid && addIncomeForm.get('incomeTypeId')?.touched">
                    {{ getErrorMessage('incomeTypeId') }}
                </small>
            </div>
        </div>
        <div class="p-fluid">
            <div class="field">
                <label class="font-medium" htmlFor="vehicleId">Vehicle</label>
                <p-dropdown id="vehicleId"
                        formControlName="vehicleId"
                        placeholder="Select Vehicle"
                        [appendTo]="'body'"
                        [filter]="true" 
                        [options]="vehicleOptions"
                        [showClear]="true" 
                        [ngClass]="{'ng-dirty ng-invalid': addIncomeForm.get('vehicleId')?.invalid && addIncomeForm.get('vehicleId')?.touched}" />
                <small class="text-red-700" *ngIf="addIncomeForm.get('vehicleId')?.invalid && addIncomeForm.get('vehicleId')?.touched">
                    {{ getErrorMessage('vehicleId') }}
                </small>
            </div>
        </div>
        <div class="p-fluid">
            <div class="field">
                <label class="font-medium" htmlFor="name">Date</label>
                <p-calendar id="date"
                        dateFormat="dd-M-yy"
                        formControlName="date"
                        [appendTo]="'body'"
                        [ngClass]="{'ng-dirty ng-invalid': addIncomeForm.get('date')?.invalid && addIncomeForm.get('date')?.touched}" />
                <small class="text-red-700" *ngIf="addIncomeForm.get('date')?.invalid && addIncomeForm.get('date')?.touched">
                    {{ getErrorMessage('date') }}
                </small>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (onClick)="isAddIncomeModalVisible = false" />
            <p-button label="Save" (onClick)="onSubmitAddIncomeForm()" />
        </div>
    </ng-template>

</p-dialog>

<!--page processing-->
<app-page-processing *ngIf="isBusy"></app-page-processing>

<!--toast-->
<p-toast></p-toast>







