<ng-container *ngIf="isInitializing == true; else isInitializedTemplate">
    <app-page-loading></app-page-loading>
</ng-container>

<ng-template #isInitializedTemplate>

    <!--entity-menu-->
    <app-entity-menu>
        <ng-template #brand>
            Cost Details
        </ng-template>

        <ng-template #items>
            <p-button label="Back"
                      icon="pi pi-angle-left"
                      pTooltip="Back to list"
                      tooltipPosition="bottom"
                      [text]="true"
                      (onClick)="onClickBack()" />
        </ng-template>
    </app-entity-menu>

    <div class="pt-3"></div>

    <!--content-->
    <div class="card">
        <form [formGroup]="viewCostForm">

            <input pInputText
                id="id"
                formControlName="id"
                type="hidden" />

            
        <div class="p-fluid p-formgrid grid">
            <div class="field col-6 md:col-6">
                <label class="font-medium" htmlFor="name">Amount</label>
                <p-inputNumber id="amount"
                        formControlName="amount"
                        mode="currency" 
                        currency="USD" 
                        locale="en-US"
                        placeholder="0.00"
                        [ngClass]="{'ng-dirty ng-invalid': viewCostForm.get('amount')?.invalid && viewCostForm.get('amount')?.touched}" />
                <small class="text-red-700" *ngIf="viewCostForm.get('amount')?.invalid && viewCostForm.get('amount')?.touched">
                    {{ getErrorMessage('amount') }}
                </small>
            </div>
            <div class="field col-6 md:col-6">
                <label class="font-medium" htmlFor="name">Amount Paid</label>
                <p-inputNumber id="amountPaid"
                        formControlName="amountPaid"
                        mode="currency" 
                        currency="USD" 
                        locale="en-US"
                        placeholder="0.00"
                        [ngClass]="{'ng-dirty ng-invalid': viewCostForm.get('amountPaid')?.invalid && viewCostForm.get('amountPaid')?.touched}" />
                <small class="text-red-700" *ngIf="viewCostForm.get('amountPaid')?.invalid && viewCostForm.get('amountPaid')?.touched">
                    {{ getErrorMessage('amountPaid') }}
                </small>
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12">
                <label class="font-medium" htmlFor="costTypeId">Type</label>
                <p-dropdown id="costTypeId"
                        formControlName="costTypeId"
                        placeholder="Select Cost Type"
                        [appendTo]="'body'"
                        [filter]="true" 
                        [options]="costTypeOptions"
                        [showClear]="true" 
                        [ngClass]="{'ng-dirty ng-invalid': viewCostForm.get('costTypeId')?.invalid && viewCostForm.get('costTypeId')?.touched}" />
                <small class="text-red-700" *ngIf="viewCostForm.get('costTypeId')?.invalid && viewCostForm.get('costTypeId')?.touched">
                    {{ getErrorMessage('costTypeId') }}
                </small>
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12">
                <label class="font-medium" htmlFor="vehicleId">Vehicle</label>
                <p-dropdown id="vehicleId"
                        formControlName="vehicleId"
                        placeholder="Select Vehicle"
                        [appendTo]="'body'"
                        [filter]="true" 
                        [options]="vehicleOptions"
                        [showClear]="true" 
                        [ngClass]="{'ng-dirty ng-invalid': viewCostForm.get('vehicleId')?.invalid && viewCostForm.get('vehicleId')?.touched}" />
                <small class="text-red-700" *ngIf="viewCostForm.get('vehicleId')?.invalid && viewCostForm.get('vehicleId')?.touched">
                    {{ getErrorMessage('vehicleId') }}
                </small>
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12">
                <label class="font-medium" htmlFor="name">Date</label>
                <p-calendar id="date"
                        dateFormat="dd-M-yy"
                        formControlName="date"
                        [appendTo]="'body'"
                        [ngClass]="{'ng-dirty ng-invalid': viewCostForm.get('date')?.invalid && viewCostForm.get('date')?.touched}" />
                <small class="text-red-700" *ngIf="viewCostForm.get('date')?.invalid && viewCostForm.get('date')?.touched">
                    {{ getErrorMessage('date') }}
                </small>
            </div>
        </div>
        </form>

        <div class="flex justify-content-end flex-wrap">
            <p-button label="Update"
                      icon="pi pi-save"
                      pTooltip="Update record"
                      tooltipPosition="bottom"
                      (onClick)="onClickSave()" />
        </div>
    </div>
</ng-template>

<!--page processing-->
<app-page-processing *ngIf="isBusy"></app-page-processing>

<!--toast-->
<p-toast></p-toast>
