<ng-container *ngIf="isInitializing == true; else isInitializedTemplate">
    <app-page-loading></app-page-loading>
</ng-container>

<ng-template #isInitializedTemplate>

    <!--entity-menu-->
    <app-entity-menu>
        <ng-template #brand>
            Book Details
        </ng-template>

        <ng-template #items>
            <p-button label="Back"
                      icon="pi pi-angle-left"
                      pTooltip="Back to list"
                      tooltipPosition="bottom"
                      [text]="true"
                      (onClick)="onClickBack()" />
        </ng-template>
    </app-entity-menu>

    <div class="pt-3"></div>

    <!--content-->
    <div class="card">
        <form [formGroup]="viewBookForm">

            <input pInputText
                id="id"
                formControlName="id"
                type="hidden" />

             <div class="grid p-fluid">
                <div class="field col-12 md:col-4">
                    <label class="font-medium" htmlFor="title">Title</label>
                    <input pInputText
                            id="title"
                            formControlName="title"
                            type="text"
                            [ngClass]="{'ng-dirty ng-invalid': viewBookForm.get('title')?.invalid && viewBookForm.get('title')?.touched}" />
                    <small class="text-red-700" *ngIf="viewBookForm.get('title')?.invalid && viewBookForm.get('title')?.touched">
                        {{ getErrorMessage('title') }}
                    </small>
                </div>
                <div class="field col-12 md:col-4">
                    <label class="font-medium" htmlFor="isbn">ISBN</label>
                    <input pInputText
                            id="isbn"
                            placeholder="ISBN"
                            formControlName="isbn"
                            type="text"
                            [ngClass]="{'ng-dirty ng-invalid': viewBookForm.get('isbn')?.invalid && viewBookForm.get('isbn')?.touched}" />
                    <small class="text-red-700" *ngIf="viewBookForm.get('isbn')?.invalid && viewBookForm.get('isbn')?.touched">
                        {{ getErrorMessage('isbn') }}
                    </small>
                </div>
                <div class="field col-12 md:col-4">
                    <label class="font-medium" htmlFor="price">Price</label>
                    <input pInputText
                            id="price"
                            placeholder="price"
                            formControlName="price"
                            type="text"
                            [ngClass]="{'ng-dirty ng-invalid': viewBookForm.get('price')?.invalid && viewBookForm.get('price')?.touched}" />
                    <small class="text-red-700" *ngIf="viewBookForm.get('price')?.invalid && viewBookForm.get('price')?.touched">
                        {{ getErrorMessage('price') }}
                    </small>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <label class="font-medium" htmlFor="summary">Summary</label>
                    <p-editor id="summary"
                        formControlName="summary" 
                        [ngClass]="{'ng-dirty ng-invalid': viewBookForm.get('summary')?.invalid && viewBookForm.get('summary')?.touched}"
                        [style]="{ height: '100px' }">
                    </p-editor>
                    <small class="text-red-700" *ngIf="viewBookForm.get('summary')?.invalid && viewBookForm.get('summary')?.touched">
                        {{ getErrorMessage('summary') }}
                    </small>
                </div>
            </div>
        </form>

        <div class="flex justify-content-end flex-wrap">
            <p-button label="Update"
                      icon="pi pi-save"
                      pTooltip="Update record"
                      tooltipPosition="bottom"
                      (onClick)="onClickSave()" />
        </div>
    </div>
</ng-template>

<!--page processing-->
<app-page-processing *ngIf="isBusy"></app-page-processing>

<!--toast-->
<p-toast></p-toast>
