<ng-container *ngIf="isInitializing == true; else isInitializedTemplate">
    <app-page-loading></app-page-loading>
</ng-container>

<ng-template #isInitializedTemplate>

    <!--entity-menu-->
    <app-entity-menu>
        <ng-template #brand>
            Investment Details
        </ng-template>

        <ng-template #items>
            <p-button label="Back"
                      icon="pi pi-angle-left"
                      pTooltip="Back to list"
                      tooltipPosition="bottom"
                      [text]="true"
                      (onClick)="onClickBack()" />
        </ng-template>
    </app-entity-menu>

    <div class="pt-3"></div>

    <!--content-->
    <div class="card">
        <form [formGroup]="viewInvestmentForm">

            <input pInputText
                id="id"
                formControlName="id"
                type="hidden" />

            <div class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <label class="font-medium" htmlFor="name">Amount</label>
                    <p-inputNumber
                            id="amount"
                            formControlName="amount"
                            mode="currency" 
                            currency="USD" 
                            locale="en-US"
                            placeholder="0.00"
                            [ngClass]="{'ng-dirty ng-invalid': viewInvestmentForm.get('amount')?.invalid && viewInvestmentForm.get('amount')?.touched}" />
                    <small class="text-red-700" *ngIf="viewInvestmentForm.get('amount')?.invalid && viewInvestmentForm.get('amount')?.touched">
                        {{ getErrorMessage('amount') }}
                    </small>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <label class="font-medium" htmlFor="investmentTypeId">Type</label>
                    <p-dropdown id="investmentTypeId"
                            formControlName="investmentTypeId"
                            placeholder="Select Investment Type"
                            [appendTo]="'body'"
                            [filter]="true" 
                            [options]="icomeTypeOptions"
                            [showClear]="true" 
                            [ngClass]="{'ng-dirty ng-invalid': viewInvestmentForm.get('investmentTypeId')?.invalid && viewInvestmentForm.get('investmentTypeId')?.touched}" />
                    <small class="text-red-700" *ngIf="viewInvestmentForm.get('investmentTypeId')?.invalid && viewInvestmentForm.get('investmentTypeId')?.touched">
                        {{ getErrorMessage('investmentTypeId') }}
                    </small>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <label class="font-medium" htmlFor="name">Date</label>
                    <p-calendar id="date"
                            dateFormat="dd-M-yy"
                            formControlName="date"
                            [appendTo]="'body'"
                            [ngClass]="{'ng-dirty ng-invalid': viewInvestmentForm.get('date')?.invalid && viewInvestmentForm.get('date')?.touched}" />
                    <small class="text-red-700" *ngIf="viewInvestmentForm.get('date')?.invalid && viewInvestmentForm.get('date')?.touched">
                        {{ getErrorMessage('date') }}
                    </small>
                </div>
            </div>
        </form>

        <div class="flex justify-content-end flex-wrap">
            <p-button label="Update"
                      icon="pi pi-save"
                      pTooltip="Update record"
                      tooltipPosition="bottom"
                      (onClick)="onClickSave()" />
        </div>
    </div>
</ng-template>

<!--page processing-->
<app-page-processing *ngIf="isBusy"></app-page-processing>

<!--toast-->
<p-toast></p-toast>
